{{#let (if @placement @placement "top") as |placement|}}
  <span
    {{floating-ui-tooltip @attachTo
      placement=placement
      middleware=(array
        (floating-ui-middleware 'offset' 8)
        (floating-ui-middleware 'arrow'
          options=(hash
            element=this.arrowElement
          )
        )
      )
      autoUpdateOptions=(hash
        ancestorResize=true
      )
    }}
    id="tooltip"
    data-floating-ui-placement={{placement}}
    ...attributes
  >
  <div id="arrow" data-floating-ui-arrow {{did-insert this.setArrowElement}}></div>
    {{yield}}
</span>
{{/let}}